*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //Defines what 1rem is equal to
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;

    // Sets mode colors
    &.dark-mode {
        background-color: $color-secondary;
    }

    &.light-mode {
        background-color: $color-white;
    }
}

.bg-primary {@include bg-primary;}

.bg-secondary {@include bg-secondary;}

.bg-tertiary {@include bg-tertiary;}

.bg-quaternary {@include bg-quaternary;}
.bg-nav {@include bg-nav;}

.bg-dark {@include bg-dark;}

.bg-light {@include bg-light;}

.bg-black {@include bg-black;}

.bg-white {@include bg-white;}