.box{
    width: 100%;
    position: relative;
    padding: 2rem;
    text-align: center;
    background-color: $color-primary;

    &__image{
        width: 100%;
        display: block;
        height: auto;
        margin: 0;
    }

    &__overlay{
        position: absolute;
        padding: 20% 2rem;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba($color-primary, 0.85);

        h1,h2,h3,h4,h5,h6,p,span,i{
            @include color-white;
        }

        h3{
            font-size: 3.5rem;
        }

        p{
            font-size: 2rem;
        }
    }

    &:hover{
        .box__overlay{
            opacity: 1;
        }
    }
}