{%- assign first_block = section.blocks[0] -%}
{% if section.blocks.size > 0 %}

<nav
  id="navbar__slim"
  class="navbar navbar-expand-lg d-none d-sm-block navbar-dark bg-nav"
>
  <div class="container" id="navigation__short">
    {%- for block in section.blocks -%}
      <ul class="navbar-nav  {{ block.settings.menu__columnalign }}">
        {%- if block.settings.menu__link != blank-%}
        
        <li class="nav-item">
          <a class="nav-link" href="{{ block.settings.menu__link.url }}">{{ block.settings.menu__title }}</a>
        </li>
        {%- else -%}
          <span class="navbar-text">
            {{ block.settings.menu__title }}
          </span>
        {%- endif -%}
    </ul>
    {%- endfor -%}
    
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if customer %}
          <a class="nav-link" href="/account"><i class="fas fa-user"></i></a>
          <a class="nav-link" href="/account/logout"><i class="fas fa-sign-out-alt"></i></a>
        {% else %}
          <a class="nav-link" href="/account/login"><i class="fas fa-sign-out-alt"></i></a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

{% endif %}

{% schema %}
  {
    "blocks": [
      {
        "type": "Menu",
        "name": "Top Menu",
        "limit" : 3,
        "settings": [
          {
            "id": "menu__link",
            "type": "url",
            "label": "Menu Link"
          },
          {
            "id": "menu__title",
            "type": "text",
            "label": "Menu Text"
          },{
           "type": "select",
           "id": "menu__columnalign",
           "options": [
              { "value": "mr-auto", "label": "Align Left"},
              { "value": "ml-auto", "label": "Align Right"},
              { "value": "mx-auto", "label": "Align Center"}
           ],
           "label": "Column Alignment"
        }
        ]
      }
    ]
  }
{% endschema %}